@import "../base/_mixin.styl";
#goods
  display flex
  position absolute
  top rem(348)
  bottom rem(92)
  width 100%
  overflow hidden
  .menu-wrapper
    flex 0 0 rem(80*2)
    width rem(80*2)
    background: #f3f5f7
    .menu-item
      display:table
      height: rem(54*2)
      width: rem(56*2)
      line-height rem(14*2)
      padding: 0 rem(12*2)
      .icon
        display inline-block
        vertical-align top
        width rem(24)
        height rem(24)
        margin-right rem(8)
        background-size rem(24) rem(24)
        background-repeat no-repeat
        &.decrease
          bg-image('../../../assets/images/header/decrease_1')
        &.discount
          bg-image('../../../assets/images/header/discount_1')
        &.guarantee
          bg-image('../../../assets/images/header/guarantee_1')
        &.invoice
          bg-image('../../../assets/images/header/invoice_1')
        &.special
          bg-image('../../../assets/images/header/special_1')
      .text
        display: table-cell
        width: rem(112)
        vertical-align: middle
        border-1px(rgba(7, 17, 27, 0.1))
        font-size: rem(24)
  .food-wrapper
    flex 1
    .title
      padding-left rem(28)
      height rem(52)
      line-height rem(52)
      border-left rem(4) solid #d9dde1
      font-size rem(24)
      color rgb(147, 153, 159)
      background: #f3f5f7
    .food-item
      display: flex
      margin: rem(36)
      padding-bottom: rem(36)
      border-1px(rgba(7, 17, 27, 0.1))
      &:last-child
        border-none()
        margin-bottom: 0
      .icon
        flex: 0 0 57px
        margin-right: 10px
      // .content
      //   flex: 1
      //   .name
      //     margin: 2px 0 8px 0
      //     height: 14px
      //     line-height: 14px
      //     font-size: 14px
      //     color: rgb(7, 17, 27)
      //   .desc, .extra
      //     line-height: 10px
      //     font-size: 10px
      //     color: rgb(147, 153, 159)
      //   .desc
      //     line-height: 12px
      //     margin-bottom: 8px
      //   .extra
      //     .count
      //       margin-right: 12px
      //   .price
      //     font-weight: 700
      //     line-height: 24px
      //     .now
      //       margin-right: 8px
      //       font-size: 14px
      //       color: rgb(240, 20, 20)
      //     .old
      //       text-decoration: line-through
      //       font-size: 10px
      //       color: rgb(147, 153, 159)
      //   .cartcontrol-wrapper
      //     position: absolute
      //     right: 0
      //     bottom: 12px