@media (-webkit-min-device-pixel-radio:1.5),(min-device-pixel-radio:1.5)
	.border-1px 
		&::after
			-webkit-tranform:scaleY(0.7)
			tranform:scaleY(0.7)
			
@media (-webkit-min-device-pixel-radio:2),(min-device-pixel-radio:2)
	.border-1px 
		&::after
			-webkit-tranform:scaleY(0.5)
			tranform:scaleY(0.5)

body, html {
	font-weight 200
	background-color
	font-family 'PingFang SC','STHertiSC-Light','HelveTica-Light', Arial, sans-serif
}
.clearFix
	display inline-block
	&:after
		display block
		content "."
		height 0
		line-height 0
		clear both
		visibility hidden
