@import "../base/_mixin.styl";
#header
  position relative
  color #fff
  overflow hidden
  background rgba(7, 17, 27, 0.5)
  .header-inner
    position relative
    padding rem(48) rem(24) rem(36) rem(48)
    font-size 0
	.backgroundImg
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 0
		// filter blur(rem(10))
	.avatar
		display	inline-block
		vertical-align top
		img
			border-radius rem(8)
	.content
		display	inline-block
		font-size	rem(28)
		margin-left	rem(32)
		.title
			margin rem(4) 0 rem(16) 0
			.brand
				width	rem(60)
				height	rem(36)
				display inline-block;
				bg-image('../../assets/images/header/brand')
				background-size rem(60) rem(36)
				background-repeat no-repeat
			.name
				font-size rem(32)
				font-weight bold
				line-height rem(36)
				margin-left rem(12)
				vertical-align top
		.description
			margin-bottom rem(20)
			line-height rem(16)
			font-size rem(24)
		.content
			margin rem(16) 0 rem(20) 0
			line-height rem(24)
			font-weight 200
			font-size rem(24)
		.support
			width: rem(300);
